<div class="row">
  <div class="col-md-12">
    <h2>Index</h2>
    <hr/>

    <button class="btn btn-default" ng-click="rmSub()">rmSub</button>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Wartość</th>
          <th>Tablica</th>
        </tr>
      </thead>

      <tr ng-repeat="cat in Category">
        <td>
          {{ cat.name }}
        </td>
        <td>
          {{ cat.value }}
        </td>
        <td>
          {{ cat.items }}
        </td>
      </tr>
    </table>

  </div>
</div>
